<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wyromed">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.CheckEmailActivity"></activity>
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.SignInActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.OnBoardingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.BookingActivity" />
        <activity android:name=".Activity.OrderedActivity" />
        <activity android:name=".Activity.StockActivity" />
        <activity android:name=".Activity.StockRequestActivity" />
        <activity android:name=".Activity.SalesActivity" />
        <activity android:name=".Activity.PatientActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.HandoverActivity" />
        <activity android:name=".Activity.NewPasswordActivity" />
        <activity android:name=".Activity.PasswordSuccessActivity" />
        <activity android:name=".Activity.HistoryReqStockActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.HistoryTransactionsActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.DetailMessageActivity" />
        <activity android:name=".Activity.ConfirmSignatureActivity" />
        <activity android:name=".Activity.InUseActivity" />
        <activity android:name=".Activity.FinishOperationActivity" />
        <activity android:name=".Activity.ReceiptActivity" />
        <activity android:name=".Activity.SalesOrderActivity" />
        <activity android:name=".Activity.AcceptSignatureActivity" />

    </application>

</manifest>